<script src="/editexam.js" async></script>
<div class="container">
    <div class="jumbotron">
        <%- include ('./partials/messages') %>
        <div class="text-center">
            <h1><i class="fas fa-list-ol"></i> Edit exam</h1>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <a class="btn btn-info float" href="/teachers/myexams/<%=user.id%>" role="button"><i
                        class="fas fa-arrow-circle-left"></i>
                    BACK</a>
                <div id="alert"></div>
            </div>
        </div>
        <form id="editExam">
            <div class="form-group">
                <label for="examtitle">Title</label>
                <input type="text" class="form-control" id="examtitle" aria-describedby="examtitle"
                    value="<%=exam.title%>">
            </div>
            <div class="form-group">
                <label for="duration">Duration</label>
                <input type="number" class="form-control" min=0 id="duration" value="<%=exam.duration%>">
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="text" class="form-control" id="date" aria-describedby="date" value="<%=exam.date%>">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h3 style="margin-top: 2rem;">Questions</h3>
        <hr>
        <% for(let i = 0 ; i< questions.length;i++) {%>
        <form id="<%=questions[i].id%>" class="editQuestionForm">
            <div class="card mb-3 question">
                <div class="card-body">
                    <h5 class="card-title">Question <%=i+1%></h5>
                    <input type="text" id="question_<%=i%>" name="question_<%=i%>" class="form-control question" value="<%=questions[i].title%>">
                </div>
                <ul class="list-group list-group-flush">
                    <% for(let j = 0 ; j< questions[i].choices.length;j++) {%>
                    <li class="list-group-item"><input type="text" class="form-control choice" value="<%=questions[i].choices[j].text%>"></li>
                    <%}%>
                        </ul>
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
            </div>

        </form>
        <%}%>
                    <hr>
            </div>
    </div>