<script src="/editexam.js" async></script>
<div id="spinner-front">
</div>
<div class="container">
    <%- include ('./partials/messages') %>
    <h1 class="dash-head mt-4 text-center"><i class="far fa-edit"></i> Edit exam</h1>

    <div id="alert"></div>
    <div class="card editexam_card">
        <div class="card-title">
            <a class="btn btn-primary float" href="/teachers/myexams/<%=user.id%>" role="button"><i
                    class="fas fa-arrow-circle-left"></i>
                Back</a>
        </div>
        <div class="card-body">
            <form id="editExam" action="/exams/<%=exam.id%>" onsubmit="show()" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <label for="examtitle">Title</label>
                    <input type="text" name="title" class="form-control" id="examtitle" aria-describedby="examtitle"
                        value="<%=exam.title%>">
                </div>
                <div class="form-group">
                    <label for="duration">Duration</label>
                    <input type="number" name="duration" class="form-control" min=0 id="duration"
                        value="<%=exam.duration%>">
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="text" name="date" class="form-control" id="date" aria-describedby="date"
                        value="<%=exam.date%>">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
    <h1 class="dash-head mt-4 text-center"><i class="far fa-question-circle"></i> Questions</h1>
    <div class="add_button_float">
        <a type="button" onclick="addQuestion('<%=exam.id%>')" class="btn btn-warning"><i class="fas fa-plus"></i></a>
    </div>

    <% for(let i = 0 ; i< questions.length;i++) {%>
    <form id="<%=questions[i].id%>" class="editQuestionForm">
        <div class="card mb-3 question">
            <div class="card-body">
                <h5 class="card-title">Question <%=i+1%></h5>
                <input type="text" id="question_<%=i%>" name="question_<%=i%>" class="form-control question"
                    value="<%=questions[i].title%>">
            </div>
            <ul class="list-group list-group-flush">
                <% for(let j = 0 ; j< questions[i].choices.length;j++) {%>
                <li class="list-group-item"> <%=j+1%> . <input type="text" class="form-control choice"
                        value="<%=questions[i].choices[j].text%>"></li>
                <%}%>

            </ul>
            <div class="card-footer">
                <div class="dropdown" >
                    <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Save</button>
                    <button class="btn btn-secondary dropdown-toggle"  type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-check-square"></i> Correct answer
                    </button>
                    <% let correctAns =0;%>
                <div class="dropdown-menu" id="drop_<%=questions[i].id%>" aria-labelledby="dropdownMenu2">
                    <% for(let j = 0 ; j< questions[i].choices.length;j++) {%>
                    <%if (questions[i].choices[j].isCorrect==true){%>
                    <option class="dropdown-item active" type="button"><%=j+1%></option>
                    <%}else{%>
                    <option class="dropdown-item" type="button"><%=j+1%></option>
                    <%}%>     
                     <%}%>
                </div>
                <a class="btn btn-danger float-right" onclick="deleteQuestion('<%=questions[i]._id%>')" onclick="show()">Delete
                    <i class="fas fa-trash-alt"></i></a>
            </div>



</div>
</div>

</form>
<%}%>
                    <hr>
            </div>