<script src="/getapi.js" async  ></script>
<div id="spinner-front">
</div>
<h1 class="dash-head mt-4 text-center"><i class="fas fa-list-ol"></i> Exams list</h1>

<div class="container exams_container">
    <div class="card">
        <%- include ('./partials/messages') %>
        <div class="exams_title_card card-title ">
            <a class="btn btn-primary float" href="/dashboard/" role="button"><i class="fas fa-arrow-circle-left"></i>
                Back</a>
            <a class="btn btn-warning float" onclick="getRandomExam('<%=user._id%>')"><i class="fas fa-random"></i>
                Random Exam</a>
            <button class="btn btn-success float" data-toggle="modal" data-target="#staticBackdrop"><i
                    class="fas fa-plus"></i>
                Add</button>
            <div id="alert"></div>

        </div>
        <div class="card-body">
            <table class="table table-dark table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Date</th>
                        <th scope="col">#Questions</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0 ; i< exams.length;i++) {%>
                    <tr>
                        <th scope="row"><%=i+1%></th>
                        <td><%=exams[i].title%></td>
                        <td><%=exams[i].duration%></td>
                        <td><%=exams[i].date%></td>
                        <td><%=exams[i].questions.length%></td>
                        <td>
                            <form action="/exams/<%=exams[i].id%>" onsubmit="show()" method="POST" id="delete-form">
                                <input type="hidden" name="_method" value="DELETE">
                                <div class="text-center">
                                    <a class="btn btn-primary" href="/teachers/editexam/<%=exams[i].id%>"
                                        role="button">Edit</a>
                                    <button type="submit" class="btn btn-danger">Delete</button>

                                </div>
                            </form>

                    </tr>
                    <%
                            }
                          %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add exam</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addExamForm" onsubmit="show()">
                    <div class="form-group">
                        <label for="examTitle">Title</label>
                        <input type="text" class="form-control" id="examTitle" placeholder="Exam title"
                            aria-describedby="examTitle" required
                            oninvalid="this.setCustomValidity('Please enter a title')" oninput="setCustomValidity('')">
                        <small id="examHelp" class="form-text text-muted">Exam's title</small>
                    </div>
                    <div class="form-group">
                        <label for="duration">Duration</label>
                        <input type="number" class="form-control" placeholder="Exam duration" id="duration" min=0
                            aria-describedby="duration" required>
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="custom-select mr-sm-2" id="category">
                            <option>Linux</option>
                            <option>SQL</option>
                            <option>Code</option>
                            <option>DevOps</option>
                            <option>Docker</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="difficulty">Difficulty</label>
                        <select class="custom-select mr-sm-2" id="difficulty">
                            <option>Easy</option>
                            <option>Medium</option>
                            <option>Hard</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" id="<%=user._id%>" >Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>